@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: #191920;
    font-family: 'Nunito Sans', sans-serif;
}

.main {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
    max-width: 100%;
    width: 100%;
    height: 100vh;
}

.main .nav {
    top: 0;
    left: 0;
    max-width: 40%;
    width: 40%;
}

.main .nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    top: 0;
    left: 0;
    width: 100%;
}



.main .nav ul li a {
    color: #191920;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 0.7em;
    padding: 30px;
}

.main .nav .logo {
    padding-left: 30px;
    height: 130px;
}

.main .shoe {
    content: '';
    max-width: 45%;
    width: 45%;
    height: 100vh;
    padding: 20px;
    background: url(https://images.unsplash.com/photo-1516224498413-84ecf3a1e7fd?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=934&q=80);
    background-size: cover;
    background-position: bottom center;
}

.main .side {
    max-width: 15%;
    width: 15%;
    height: 100vh;
}

.main .side .search {
    background: #303031;
    height: 50vh;
    padding: 50px;
    text-align: center;
}

.main .side .search img {
    height: 25px;
    filter: invert(1);
}

.main .side .social {
    background: #ea5455;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main .side .social ul {
    list-style: none;
    padding-left: 30px;
}

.main .side .social ul li {
    transform: rotate(-90deg);  
    padding: 12px;
}

.main .side .social ul li a {
    text-decoration: none;
    color: #fff;
    font-weight: 300;
    letter-spacing: 0.2rem;
    padding: 5px;
    cursor: pointer;
}

.main .side .social ul li a:hover {
    background: #fff;
    color: #191920;
    transition: 0.5s;
    cursor: pointer;
}

.main .play {
    position: absolute;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main .play .circle {
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: 80px;
    height: 80px;
    width: 80px;
    background: #ea5455;
    border-radius: 50%;
    margin-left: -290px;
    box-shadow: 0px 0px 40px #ea5455;
}

.main .play .circle img {
    height: 50px;
    position: absolute;
    filter: invert(1);
}

.main .bottom {
    position: absolute;
    display: flex;
    justify-content: flex-start;
    bottom: 80px;
    left: 0;
    padding: 30px;
}

.main .bottom p {
    font-size: 100px;
    font-weight: 300;
    letter-spacing: 50px;
}

/*

.main ul li {
    display: flex;
    text-transform: uppercase;
    letter-spacing: 0.8em;
}

.main ul li a {
    padding: 10px 25px;
    text-decoration: none;
    color: #191920;
}

.main ul li a:hover:nth-child(1) {
    background: #191920;
    color: #fff;
    transition: 0.5s;
}

.main .logo {
    height: 140px;
    cursor: pointer;
}

.shoe {
    position: relative;
    max-width: 55%;
    width: 55%;
    height: 100vh;
    background: url(images/shoe.jpg);
    background-position: center center;
}

